* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

#video {
    width: 100vw;
    height: 100vh;
}

.container {
    margin: 20% 20%;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    font-size: 2rem;
    padding: 2rem 3rem;
    margin: 1rem 3rem;
    border-radius: 50%;
    border: 5px solid;
}

.option-btn {
    display: block;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
}

.transparent-BG {
    background-color: transparent;
}

.hidden {
    display: none;
}

@media (orientation: landscape) {
    body {
        background-color: black;
    }
}